<div class="img">
    <div class="card-login b-color">
    <mat-card>
        <p class="title">FC Admin</p>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form$ | async">

                <p>
                    <input type="text" matInput  [hidden]="true">
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="Usuário" formControlName="userName">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'"
                               [formControlName]="'password'">

                        <button mat-icon-button matSuffix
                                (click)="hide = !hide; $event.stopPropagation()"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">

                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                        </button>
                    </mat-form-field>

                </p>

                <mat-error *ngIf="(authService.msg$ | async)">
                    {{authService.msg$ | async}}
                </mat-error>

                <div class="button">
                    <button type="submit" class="btn btn-success" mat-button (click)="onSubmit()">Entrar</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
    </div>
</div>
